body{
    background-image: url(imgg.jpg);
    background-size: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    font-size: 3em;
    color: white;
}
.box{
    transform: translate(100px,100px);
    border: 1px solid white;
    height: 350px;
    width: 350px;
    font-size: 100%;
    background:transparent ; 
    box-shadow: 3px 3px 5px hsl(0, 0%, 0%);
    color: white;
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
    
}
.box:before{
    transform: translate(100px,100px);
    border: 1px solid white;
    height: 350px;
    width: 350px;
    background:rgba(255, 252, 252, 0.5);
    box-shadow: 3px 3px 5px hsl(0, 0%, 0%);
    color: white;
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
   
    
}
